APP_URL=

RESEND_API_KEY=

# GITHUB OAUTH APP CREDENTIALS
RESEND_API_KEY=
OAuth_CLIENT_ID=
OAuth_CLIENT_SECRET=
PERSONAL_ACCESS_TOKEN=

# DB CREDENTIALS
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=